* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    border: none;
    outline: none;
}

:root {
    --bg-color: black;
    /* Background color */
    --snd-bg-color: rgb(37, 36, 36);
    /* Secondary background color */
    --text-color: #fff;
    /* Text color */
    --main-color: rgb(1, 1, 67);
    /* Main color */

}


html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.6;
}

section {
    padding: 2.5rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 1.5rem 9%;
}

.logo1 {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}

.logo a:hover {
    color: red;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar a:hover,
.navbar a:active {
    color: rgb(164, 164, 251);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.home-content h1 {
    margin-top: 20px;
    font-size: 60px;
}

.home-content h1 span {
    color: rgb(246, 8, 8);

}

.home-content .para {
    font-size: 20px;
}


.home-content p #element {
    color: rgb(211, 90, 248);
    font-size: 25px;
}

.home-img img {
    width: 30vw;
    margin-left: 25rem;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
    margin-top: 100px;
    box-shadow: 0px 0px 30px yellow;
}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.social-media {
    margin-top: 1.5rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    text-decoration: none;
    margin-right: 1.5rem;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background: #f02106;
    border-radius: 4rem;
    box-shadow: 0px 0px 10px yellow;
    font-size: 1.4rem;
    color: white;
    letter-spacing: .1rem;
    font-weight: 400;
    transition: .5s ease;
    margin-top: 2.5rem;
}

.btn:hover {
    transform: scale(1.2);
}

/* ----------------about------------------ */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--snd-bg-color);
    margin-bottom: 1rem;
    height: 70vh;
}

.about-img img {
    width: 20vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-top: 0;
}

.about-content {
    justify-content: space-between;
    margin-left: 7rem;
}

.about-content h2 {
    margin-top: 0%;
    text-align: left;
    line-height: 1.2;

}

.about-content p {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.about-content ul li strong {
    color: #dbeb04;
}

.about-content a {
    color: rgb(246, 242, 242);
}

/* ----------------------skills------------------------ */

.skills h2 {
    margin-bottom: 4rem;
    margin-top: -3rem;
}

.skills-content {
    display: flex;
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    text-align: center;
    border-radius: 2rem;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    width: 400px;
}

.skills-container .skills-box:hover {
    border-color: white;
    transform: scale(1.02);
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 2.6rem;
}

.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* ---------------projects------------------- */
.projects {
    background: var(--snd-bg-color);
    padding: 0;
    overflow: hidden;
    height: 70vh;
}

.projects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.projects-container {
    margin-bottom: 5rem;
}

.projects h2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.projects-box {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.projects-box img {
    width: 25vw;
    height: 18vw;
    transition: opacity 0.5s ease;
    opacity: 0.7;
}

.projects-box:hover {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.projects-box:hover .projects-layer {
    transform: translateY(0);
}

.projects-layer h4 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.projects-layer p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    background: var(--text-color);
    border-radius: 40px;
}

/* ---------------------contact------------------- */
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Align items at the top */
}

.contact-form {
    width: 60%;
}

.contact-form h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-form p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ddd4d4;
}

form {
    text-align: left;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: var(--snd-bg-color);
    color: var(--text-color);
}

button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.social-icons {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.social-icons h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin-bottom: 10px;
}

.social-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* ---------------------footer------------------ */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--snd-bg-color);
    height: 40px;
}

.footer-text {
    font-size: 1.6rem;
    margin-left: 30px;
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(22, 171, 240);
    border-radius: .8rem;
    transition: .5s ease;
    margin-right: 50px;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 3rem;
    color: pink
    
}